@model EFWorkforce.Models.TrainingProgram

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAttendees)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxAttendees)
        </dd>
    </dl>
</div>

@*<dt class="col-sm-2">Attendees</dt>
@foreach (var item in Model.EmployeeTrainings)
{
    <dd>
        @Html.DisplayFor(modelItem => item.Employee.FirstName)
        @Html.DisplayFor(modelItem => item.Employee.LastName)<br />
    </dd>
}*@

<h5 class="col-sm-2">Attendees</h5>

@if (Model.EndDate < DateTime.Now)

@foreach (var item in Model.EmployeeTrainings)
{
    <dd>
        @Html.DisplayFor(modelItem => item.Employee.FirstName)
        @Html.DisplayFor(modelItem => item.Employee.LastName)
    </dd>
}

@if (Model.StartDate > DateTime.Now)
{
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
}
<br />
<a asp-action="PastIndex">Back to List</a>
